<html>
<head>
    <link href="/public/images/favicon4.ico" rel="icon" type="image/x-icon">
    <link href="login.css" type="text/css" rel="stylesheet">
</head>

<form action="/login" class="login" method="GET">
    <input class="input" placeholder="defaultlogin" name="login"><br>
    <input class="input" placeholder="defaultpassword" name="password" type="password"><br>
    <button type="submit" class="button">Войти</button>
    <button type="button" class="button" onclick="window.location.href = 'http://localhost:63342/reg?'">Зарегаться</button>
</form>

</html>