<html>
<head>
    <link href="/public/images/favicon4.ico" rel="icon" type="image/x-icon">
    <link href="style.css" type="text/css" rel="stylesheet">
</head>

<label class="tablelabel">ДОБРО ПОЖАЛОВАТЬ В КЛУБ КОЖЕВЕННОГО РЕМЕСЛА!</label>


<button type="button" class="button" onclick="window.location.href = 'http://localhost:63342/logout?'" style="width: 21%; margin-left: 0;margin-top:1%;">Выйти</button>

</html>